<div class="container mt-5" *ngIf="anime">
  <h2>{{anime.name}}</h2>
  <img [src]="anime.image" class="img-fluid" alt="{{anime.name}}">
  <dl class="row mt-3">
    <dt class="col-sm-3">Categoría</dt>
    <dd class="col-sm-9">{{anime.category}}</dd>

    <dt class="col-sm-3">Rating</dt>
    <dd class="col-sm-9">{{anime.rating}}</dd>

    <dt class="col-sm-3">Episodios</dt>
    <dd class="col-sm-9">{{anime.episodes}}</dd>

    <dt class="col-sm-3">Descripción</dt>
    <dd class="col-sm-9">{{anime.description}}</dd>
  </dl>
  <hr/>
</div>
